body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.bg-container {
  background-image: url('/consulting/assets/images/rainbow.jpg'); /* Set background image */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the image */
  padding-bottom: 20px; /* Ensure some space between main content and footer */
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  color: #333;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 0;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
}

header .logo img {
  height: 150px;
}

main {
  padding: 20px 0;
  min-height: 100vh;
}

footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer ul.social {
  list-style: none;
  padding: 0;
}

footer ul.social li {
  display: inline;
  margin-right: 10px;
}

footer ul.social li a {
  color: #fff;
  text-decoration: none;
}

a {
  color: #ff0000;
}

a:hover {
  color: #cc0000;
}

.section {
  padding: 20px 0;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #f4f4f4;
}

.statement-bar {
  background-color: #333;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.statement-bar:hover {
  background-color: #444;
}

.statement-bar h2 {
  margin: 0;
  font-size: 1.5em;
}

.statement-content {
  margin-top: 10px;
}

.statement-details {
  display: none;
  text-align: left;
}

.statement-details h2 {
  color: #cc0000; /* Red accent color for headings */
  font-size: 1.5em;
  margin-bottom: 20px;
}

.statement-details p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.statement-details p strong {
  color: #333;
  font-weight: bold;
}
